body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Couleur de fond claire */
}

header {
    background: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre pour un effet d'élévation */
}

h1 {
    margin: 0; /* Supprime la marge du h1 pour un alignement parfait */
}

main {
    padding: 20px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed; /* Ajusté pour éviter le positionnement fixe */
    bottom: 0;
    width: 100%; /* Occupe toute la largeur */
}

button {
    padding: 10px;
    color: white;
    background: #f44336;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Coins arrondis pour un look moderne */
    transition: background 0.3s; /* Animation de transition */
}

button:hover {
    background: #d32f2f; /* Couleur de fond du bouton au survol */
    opacity: 0.8;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%; /* Remplir la largeur du conteneur */
    padding: 10px;
    margin: 10px 0; /* Ajoute de l'espace entre les éléments */
    border: 1px solid #ccc; /* Bordure standard */
    border-radius: 5px; /* Coins arrondis */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
    border-color: #4CAF50; /* Bordure verte lors du focus */
    outline: none; /* Supprime le contour par défaut */
}

.container {
    max-width: 800px; /* Limite la largeur du conteneur principal */
    margin: auto; /* Centrer le conteneur */
    background: white; /* Fond blanc pour le conteneur */
    padding: 20px; /* Espacement à l'intérieur du conteneur */
    border-radius: 8px; /* Coins arrondis du conteneur */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Ombre douce pour le conteneur */
}

#error-message {
    color: red; /* Couleur du texte d'erreur */
    margin-top: 10px; /* Espace au-dessus du message d'erreur */
    font-weight: bold; /* Texte en gras */
}
